@model Personalsystem.Models.ApplicationUser


    <div class="row worktime">
        <div class="col-xs-12"><span class="glyphicon glyphicon-time">&nbsp;</span>@Model.start.ToString("hh")-@Model.end.ToString("hh")</></div>
    </div>
