@{
    ViewBag.Title = "Schedule";
}

<style>

    .weekdayCol .col-xs-1{
        padding: 0;
        margin: 0;
        width: 14.285714285714285714285714285714%;
    }
    
    .scheduleContainer{
        padding: 2% 4% 2% 4%;
    }

    .weekdayContainer{
        text-align: center;
        width: 100%;
        height: 100%;
    }
    .weekdayContainer:first-child{
    }
    .weekdayContainer h3{
        font-size: 1em;
        font-weight: 300;
        margin: 0px;
        padding: 10px 0px 10px 0px;
    }
    .hourSlot{
        width:80%;
        height: 50px;
        padding: 10%;
        margin: 0 auto 10px auto;
        box-shadow: 0px 2px lightcoral;
        border: 1px solid lightcoral;

    }
</style>

<div class="row">
    <div class="col-xs-12 scheduleContainer">
        <div class="row weekdayCol">
            <div class="col-xs-1">
                <div class="weekdayContainer">
                    <h3>Mon</h3>
                    <div class="hourSlot"></div>
                    <div class="hourSlot"></div>
                    <div class="hourSlot"></div>
                    <div class="hourSlot"></div>
                    <div class="hourSlot"></div>
                    <div class="hourSlot"></div>
                    <div class="hourSlot"></div>
                    <div class="hourSlot"></div>
                </div>
            </div>
            <div class="col-xs-1">
                <div class="weekdayContainer">
                    <h3>Tue</h3>
                    <div class="hourSlot"></div>
                    <div class="hourSlot"></div>
                    <div class="hourSlot"></div>
                    <div class="hourSlot"></div>
                    <div class="hourSlot"></div>
                    <div class="hourSlot"></div>
                    <div class="hourSlot"></div>
                    <div class="hourSlot"></div>
                </div>
            </div>
            <div class="col-xs-1">
                <div class="weekdayContainer">
                    <h3>Wed</h3>
                    <div class="hourSlot"></div>
                    <div class="hourSlot"></div>
                    <div class="hourSlot"></div>
                    <div class="hourSlot"></div>
                    <div class="hourSlot"></div>
                    <div class="hourSlot"></div>
                    <div class="hourSlot"></div>
                    <div class="hourSlot"></div>
                </div>
            </div>
            <div class="col-xs-1">
                <div class="weekdayContainer">
                    <h3>Thu</h3>
                    <div class="hourSlot"></div>
                    <div class="hourSlot"></div>
                    <div class="hourSlot"></div>
                    <div class="hourSlot"></div>
                    <div class="hourSlot"></div>
                    <div class="hourSlot"></div>
                    <div class="hourSlot"></div>
                    <div class="hourSlot"></div>
                </div>
            </div>
            <div class="col-xs-1">
                <div class="weekdayContainer">
                    <h3>Fri</h3>
                    <div class="hourSlot"></div>
                    <div class="hourSlot"></div>
                    <div class="hourSlot"></div>
                    <div class="hourSlot"></div>
                    <div class="hourSlot"></div>
                    <div class="hourSlot"></div>
                    <div class="hourSlot"></div>
                    <div class="hourSlot"></div>
                </div>
            </div>
            <div class="col-xs-1">
                <div class="weekdayContainer weekend">
                    <h3>Sat</h3>
                    <div class="hourSlot"></div>
                    <div class="hourSlot"></div>
                    <div class="hourSlot"></div>
                    <div class="hourSlot"></div>
                    <div class="hourSlot"></div>
                    <div class="hourSlot"></div>
                    <div class="hourSlot"></div>
                    <div class="hourSlot"></div>
                </div>
            </div>
            <div class="col-xs-1">
                <div class="weekdayContainer weekend">
                    <h3>Sun</h3>
                    <div class="hourSlot"></div>
                    <div class="hourSlot"></div>
                    <div class="hourSlot"></div>
                    <div class="hourSlot"></div>
                    <div class="hourSlot"></div>
                    <div class="hourSlot"></div>
                    <div class="hourSlot"></div>
                    <div class="hourSlot"></div>
                </div>
            </div>
        </div>
    </div>
</div>