@model Personalsystem.Models.Vacancy
@{
    ViewBag.Title = "CoverLetter";
}

<h2>Cover Letter </h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
    </tr>

</table>
 @ViewBag.CoverLetter