@model IEnumerable<Personalsystem.Models.Vacancy>

@{
    ViewBag.Title = "Vacancy list";
}


<h2>Vacancy list for Company 1</h2>


    @foreach (var vacancy in Model)
    {
        
            <div class="row" style="background-color:gray; ">

            <div class="col-sm-1">
                @Html.DisplayFor(modelItem => vacancy.Id)
            </div>
            <div class="col-sm-6">
                @Html.DisplayFor(modelItem => vacancy.Description)
            </div>
            <div class="col-sm-3">
                @Html.DisplayFor(modelItem => vacancy.Department.Name)
            </div>
        </div>
    }



