@model Personalsystem.Models.Application

@{
    ViewBag.Title = "CoverLetter";
}

<h2>CoverLetter</h2>

<div>
    <h4>Application</h4>
    <hr />
    <dl class="dl-horizontal">
        
        <dt>
            @Html.DisplayNameFor(model => model.CoverLetter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CoverLetter)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "ShowApplicants")
</p>
